<p class="is-size-4 mb-3">レビューを書く</p>

<div class= "raiting-box mt-3">
  <%= form_with model: review, url: reviews_path(item), local: true do |f| %>
  <div class="form-group row" id="star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
　　　　</div>
  <script>
　　　　$('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
 　 　　　scoreName: 'item[star]',
    half: false,
  });
  </script>
    </div>
    <%= f.hidden_field :item_id, value: item.id %>
    <%= f.text_field :article, class: "textarea" %>
    <%= f.submit "保存", class: "button mt-3" %>
    <%= link_to "他のレビューをみる", admin_reviews_path(item), class: "button light ml-3 mt-3" %>
  <%end%>
</div>

