<div class="container">
  <div class="row">
    <h4 class="my-3 bg-light">アイテム一覧</h4>
    <!-- 商品追加ページボタン -->
    <div class="col-10 text-right">
      <%= link_to new_admin_item_path do %>
        <button type="button" class="btn btn-outline-dark rounded-circle p-0" style="width:2rem;height:2rem;">
          ＋
        </button>
      <% end %>
    </div>
    <!--  -->
  </div>
  <!-- 商品一覧 -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>カテゴリー</th>
        <th>販売開始</th>
      </tr>
    </thead>
    <% @item.each do |item| %>
      <tr>
        <td>
          <%= link_to admin_item_path(item.id) do %>
          <%= item.name %>
          <% end %>
        </td>
        <td><%= item.price %></td>
        <td><%= item.category.name %></td>
        <td><%= item.on_sale %></td>
      </tr>
    <% end %>
  </table>
</div>