<div class="container">
  <strong>
          <%= link_to admin_user_path(@review.user.id) do %>
          <%= @review.user.name %>
          <% end %>のレビュー
  </strong>
  <div class="row">
    <div class="my-5 col-sm-3">
    <%= link_to admin_item_path(@item.id) do %>
    <p>
      <%= @item.name %>
    </p>
    <% end %>
    </div>
    <div id="star_<%= @review.id %>" class="my-5 col-sm-3">
          <script>
            $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#star_<%= @review.id %>');
            if (elem == null) return;
              elem.innerHTML = "";
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                score: "<%= @review.star %>",
                readOnly: true,
                };
              raty(elem, opt);
            });
          </script>
    </div>
    <div class="my-5 col-sm-6">
      <%= @review.article %>
    </div>
    <div type="button" class="btn btn-info">
    <%= link_to "レビュー一覧に戻る", admin_item_reviews_path(@item), class: "text-white" %>
    </div>
  </div>

　  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col-sm-3">ユーザー</th>
      <th scope="col-sm-9">内容</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
      <tr>
        <th scope="row">
          <%= link_to user_path(comment.user.id) do %>
          <%= comment.user.name %>
          <% end %>
        </th>
        <td>
          <%= comment.content %>
        </td>
        <td><%= link_to "削除する", admin_item_review_comment_path(@review.item,@review.id,comment.id), method: :delete, class:"btn btn-success text-center" %></td>
      <% end %>
    </tbody>
  </table>
</div>