<div class="container">
  <p>
    <%= flash[:error] %>
  </p>
  <h4>アイテム詳細</h4>
  <div class="row">
    <img class="col-sm-4" style="width: 300px; height: 300px;" src="<%= url_for(@item.image) %>">
    <div class="col-sm-8">
      <!-- 商品名の表示 -->
      <strong class="col-sm-3">アイテム名</strong>
      <div class="my-2 col-sm-9"><%= @item.name %></div>
      <!-- 商品説明の表示 -->
      <strong class="col-sm-3">アイテム説明</strong>
      <div class="my-2 col-sm-6"><%= @item.introduction %></div>
      <!-- 商品ジャンルの表示 -->
      <strong class="col-sm-3">カテゴリー</strong>
      <div class="my-2 col-sm-9"><%= @item.categories.pluck(:name).join(",") %></div>
      <!-- 商品価格の表示 -->
      <strong class="col-sm-3">価格</strong>
      <div class="my-2 col-sm-9">
        <%= (@item.price).floor.to_s(:delimited) %>円
      </div>
      <strong class="col-sm-3">販売開始日</strong>
      <div class="my-2 col-sm-9"><%= @item.on_sale %></div>
      <!--  -->
      <% if !current_user.guest_user? %>
      <div class="col-sm-3">
        <%= link_to "編集する",edit_item_path(@item), class:"btn btn-success" %>
      </div>
      <% end %>
      </div>
    </div>
    <% if !current_user.guest_user? %>
      <%= render 'public/reviews/form', review: @review, item: @item %>
    <% end %>
    <div type="button" class="btn btn-info">
      <%= link_to "他のレビューを見る", item_reviews_path(@item), class:"text-white" %>
    </div>
  </div>