<h4 class="my-3 text-center bg-light">新規会員登録</h4>

<%= form_with model: @user, url: user_registration_path, id: 'new_user' do |f| %>
<%= render "public/shared/error_messages", resource: resource %>

  <div class="my-2 col-sm-4">名前</div>
  <div class="my-2 col-sm-4"><%= f.text_field :name %></div>

  <div class="my-2 col-sm-4">メールアドレス</div>
  <div class="my-2 col-sm-7"><%= f.text_field :email %></div>

  <div class="my-2 col-sm-4">パスワード(6文字以上)</div>
  <div class="my-2 col-sm-7"><%= f.password_field :password %></div>

  <div class="field">
    パスワード(再入力)
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="my-2 col-sm-4"></div>
      <div class="my-2 col-sm-7">
        <%= f.submit "新規登録", class:"btn btn-success" %>
      </div>
      <% end %>
    </div>

    <h4 class="my-3 bg-light">既に登録済みの方</h4>
      <div class="my-2 col-sm-8"></div>
      <div class="my-2 col-sm-2"></div>
      <div class="my-2 col-sm-6">
        <%= link_to "こちら",new_user_session_path %>
      からログインしてください。</div>

<%= button_to "ゲストログイン", user_guest_sign_in_path, method: :post %>