<div class="container">
  <!-- ジャンル名の登録 -->
  <div class="row">
    <%= form_with(model: @category, url: admin_categories_path, class: 'form-group') do |f| %>
    <h4 class="my-3 bg-light">カテゴリー一覧・追加</h4>
    <%= f.label :name, "カテゴリー名", class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control my-2' %>
    <%= f.submit "新規登録", class: 'btn btn-success' %>
    <% end %>
  </div>
  <!--  -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- ジャンル名の表示 -->
      <table class="table table-striped">
        <thead>
        <tr>
          <th>カテゴリー名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to '編集', edit_admin_category_path(category.id), class: 'btn btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!--  -->
  </div>
  <%= link_to "アイテム情報を追加する", new_admin_item_path, class:"btn btn-success ml-3" %>
</div>
</div>
