<h2>フォロワーユーザー一覧</h2>
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>ネーム</th>
        <th>フォロー数</th>
        <th>フォロワー数</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
              <% if user.image.attached? %>
              <%= image_tag user.image, size: "50x50" %>
              <% else %>
              <%= image_tag 'no-image', size: "50x50" %>
              <% end %>
            <% end %>
          </td>
          <td><%= user.name %></td>
          <td>
            <%= link_to follows_user_path(user) do %>
              <%= user.followings.count %>
            <% end %>
          </td>
          <td>
            <%= link_to followers_user_path(user) do %>
              <%= user.followers.count %>
            <% end %>
          </td>
          <td>
            <% if user.id == current_user.id %>
            <% else %>
              <% if current_user.following?(user) %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>