<div>
  <div>
    <!-- 登録情報更新のフラッシュメッセージ-->
    <div class="text-green">
      <p>
   <%= flash[:notice] %>
      </p>
    </div>
    <!-- -->
    <h1><%= @user.name %>さんの詳細ページ</h1>
  </div>
  <div>
    <h3><b>登録情報</b></h3>
    <% if @user.id == current_user.id %>
      <%= link_to "編集する", edit_user_path %>
      <div><span></span></div>
      <% end %>
  </div>
  <table class="table table-hover table-inverse">
    <tr>
      <td>ネーム</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no-image', size: "200x200" %>
    <% end %>
    </tr>
    <tr>
      <td>プロフィール</td>
      <td><%= @user.plofile %></td>
    </tr>
    <tr>
      <td class="bg-light col-md-3">メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <strong><%= @user.name %>さんのレビュー一覧</strong>
  <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>アイテム名</th>
            <th>評価</th>
            <th>内容</th>
            <th></th>
          </t>
        </thead>
        <% @review.each do |review| %>
        <tbody>
          <td>
            <%= link_to item_path(review.item.id) do %>
              <%= review.item.name %>
            <% end %>
          </td>
          <td>
            <div id="star_<%= review.id %>"></div>
            <script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#star_<%= review.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= review.star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>
          </td>
          <td>
            <%= review.article %>
          </td>
          <td><%= link_to "同アイテムの他レビューを見る", item_reviews_path(review.item), class: "button light ml-3 mt-3" %></td>
        </tbody>
        <% end %>
        </table>
     </div>
</div>