<div class="container">
  <div class="row">
    <!-- 登録情報更新のフラッシュメッセージ-->
    <div class="text-green">
      <p>
       <%= flash[:update] %>
      </p>
    </div>
    <!-- -->
    <h1 class="my-5"><%= @user.name %>さんの詳細ページ</h1>
  </div>
  <h2>登録情報</h2>
  <div class="row">
    <div class="col-sm-3">
    <h3 class="strong"><%= @user.name %></h3>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no-image.jpg', size: "200x200" %>
    <% end %>
    <% if !current_user.guest_user? %>
      <% if (@user.id != current_user.id) && !@user.guest_user? %>
      <div type="button" class="btn btn-info">
        <% if current_user.following?(@user) %>
          <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete, class:"text-white" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"text-white" %>
        <% end %>
        </div>
      <% end %>
    <% end %>
    <% if !current_user.guest_user? %>
      <% if @user.id == current_user.id %>
      <button type="button" class="btn btn-success">
        <%= link_to "編集する", edit_user_path, class:"text-white" %>
      </button>
      <% end %>
    <% end %>
    </div>
    <table class="col-sm-9 table table-hover table-inverse">
    <tr>
      <td>プロフィール</td>
      <td><%= @user.plofile %></td>
    </tr>
    <tr>
      <td>Follows</td>
      <td>
        <%= link_to follows_user_path(@user) do %>
          <%= @user.followings.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Followers</td>
      <td>
        <%= link_to followers_user_path(@user) do %>
          <%= @user.followers.count %>
        <% end %>
      </td>
    </tr>
    </table>
  </div>
  <strong class="my-5"><%= @user.name %>さんのレビュー一覧</strong>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>アイテム名</th>
        <th>評価</th>
        <th>内容</th>
        <th></th>
      </tr>
    </thead>
    <% @review.each do |review| %>
    <tbody>
      <td>
        <%= link_to item_path(review.item.id) do %>
          <%= review.item.name %>
        <% end %>
      </td>
      <td>
      <div id="star_<%= review.id %>"></div>
      <script>
        $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#star_<%= review.id %>');
        if (elem == null) return;
          elem.innerHTML = "";
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: "<%= review.star %>",
            readOnly: true,
          };
          raty(elem, opt);
        });
      </script>
      </td>
      <td>
        <%= review.article %>
      </td>
      <td><%= link_to "同アイテムの他レビューを見る", item_reviews_path(review.item), class: "button light ml-3 mt-3" %></td>
      </tbody>
    <% end %>
  </table>
</div>